@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --dark-theme-bg: rgb(24, 24, 24);
  --dark-theme-text: rgb(240, 240, 240);

  --light-theme-bg: white;
  --light-theme-text: rgb(19, 19, 19);
  --light-theme-link: #ee503f;
  --light-theme-link-hover: #ee503f;
  --light-theme-date: rgb(143, 143, 143);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.mohave-font {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mohave-font-bold {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: var(--light-theme-bg);
  color: var(--light-theme-text);
  font-family: "Comic Neue", cursive;
  font-size: 16px;
}

li {
  margin-bottom: 5px;
}

p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
em::selection,
br::selection {
  color: var(--dark-theme-text);
  background-color: var(--light-theme-link);
}

.page-content h1 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
}

.page-content p,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
  margin-bottom: 20px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: var(--light-theme-link);
  transition-duration: 0.2s;
}

a:hover {
  text-decoration: underline;
  color: var(--light-theme-link-hover);
}

.main-container {
  max-width: 800px;
  margin: 0 auto 0 auto;
}

.header {
  padding-bottom: 40px;
}

.header__title-container {
  display: flex;
  padding: 60px 0 40px 0;
  gap: 20px;
  align-items: center;
}

.header__status {
  margin-left: auto;
  border-right: 1px var(--light-theme-text) solid;
  padding: 0px 10px;
  height: 100%;
  text-align: end;
  font-size: 12px;
}

.header__avatar-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.header__avatar {
  height: 100%;
}

.header__title {
  text-decoration: none;
  font-size: 30px;
  color: var(--light-theme-text);
}

.header__title:hover {
  text-decoration: none;
}

.header__nav {
  display: flex;
  justify-content: start;
  gap: 40px;
  font-size: 14px;
}
  
.header__link-container {
  width: min-content;
  padding: 0px 0px 5px 0px;
  border-bottom: 2px var(--light-theme-bg) solid ;
  transition-duration: 0.3s;
}

.header__link-container:hover {
  border-bottom: 2px var(--light-theme-link) solid ;
}

.header__link:hover {
  text-decoration: none;
}

.split-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date {
  font-size: 12px;
  color: var(--light-theme-date);
}