.page-content h1 {
  text-align: center;
  margin-bottom: 20px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.page-content p {
  line-height: 30px !important;
}

.date {
  text-align: center;
}

.page-content img {
  max-width: 800px;
  margin-bottom: 40px;
  margin-top: 20px;
}